body{
    background-image: url(./img/BDparty.jpg);
}

#balloon{
    width: 100px;
    height: 300px;
    margin: 0 auto;
    background-image: url(./img/Balloon.png) ;
    background-repeat: no-repeat;
    background-size:100%;
    position: relative;
    top: 60px;
}

#balloon-pressure{
    width: 300px;
    margin: 10px auto;
    border: 2px solid ivory;
}
#balloon-pressure div{
    height: 15px;
    background-color: rgb(161, 203, 228);
}

#control-panel{
    margin: 0px auto;
    position: fixed;
    left: 47%;
}
button{
    color: rgb(187, 230, 233);
    background-color: rgb(65, 165, 199);
    border: 1px solid lightslategray;
    font-family: 'Lucida Grande', Verdana, sans-serif;
}
#balloon.boom{
    width: 150px;
    background-image: url(./img/BOOM.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
